In [1]:
import pandas as pd

# Extract Data

In [2]:
#Reading the dataframe
data = pd.read_csv('all_stocks_5yr.csv')

In [3]:
#Viewing the dataframe
data

              date   open   high    low  close    volume Name
0       2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1       2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2       2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3       2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4       2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL
...            ...    ...    ...    ...    ...       ...  ...
619035  2018-02-01  76.84  78.27  76.69  77.82   2982259  ZTS
619036  2018-02-02  77.53  78.12  76.73  76.78   2595187  ZTS
619037  2018-02-05  76.64  76.92  73.18  73.83   2962031  ZTS
619038  2018-02-06  72.74  74.56  72.13  73.27   4924323  ZTS
619039  2018-02-07  72.70  75.00  72.69  73.86   4534912  ZTS

[619040 rows x 7 columns]

# Analyzing the database

In [4]:
#Number of records in the worksheet
data.count()

date      619040
open      619029
high      619032
low       619032
close     619040
volume    619040
Name      619040
dtype: int64

In [30]:
#Number of different companies in the dataframe

print("Number of different companies in the dataframe:", data['Name'].nunique())

Number of different companies in the dataframe: 505

In [29]:
#Frequency that the closing price of a stock is higher than the opening price
frequency = (data['close'] > data['open']).mean()

print("The frequency that the closing price of a stock is higher than the opening price:", frequency*100,"%")

The frequency that the closing price of a stock is higher than the opening price: 51.52655724993538 %

In [8]:
#Highest value of Apple stock (AAPL) in history
data.loc[data['Name'] == 'AAPL'].max()

date      2018-02-07
open          179.37
high           180.1
low           178.25
close         179.26
volume     266833581
Name            AAPL
dtype: object

In [31]:
#Which stock has the highest volatility? (standard deviation)
standard_deviation = data.groupby('Name')['close'].std().idxmax()
print("The stock that has the highest volatility:", standard_deviation)

The stock that has the highest volatility: PCLN

In [32]:
#What is the most traded stock on the stock exchange, by volume of transactions?
highest_trading = data.groupby('Name')['volume'].sum().idxmax()

print("The most traded stock on the stock exchange:", highest_trading)

The most traded stock on the stock exchange: BAC

In [33]:
#How many stocks start with the letter “A”?
start_a = len(data.loc[data['Name'].str.startswith('A'), 'Name'].unique())

print("Number of shares that start with the letter A:", start_a)

Number of shares that start with the letter A: 59

In [34]:
#How often is the highest price of the day for the stock also the closing price?
frequency2 = (data['high'] == data['close']).mean()
frequency2 = frequency2*100

print("The frequency the highest price of the day for the stock is also the closing price:", frequency2,"%")

The frequency the highest price of the day for the stock is also the closing price: 1.1986301369863013 %

In [39]:
#How many shares have 1, 2, 3, 4 and 5 characters in their name respectively?

cont_unique = data.groupby(data['Name'].str.len())['Name'].nunique()

print("Number of unique items by name length:")
print(cont_unique)

Number of unique items by name length:
Name
1     10
2     50
3    323
4    117
5      5
Name: Name, dtype: int64

In [41]:
#What is the least traded stock on the stock exchange, in transaction volume?

acao_menos_negociada = data.groupby('Name')['volume'].sum().idxmin()
print("The least traded stock on the stock exchange:", acao_menos_negociada)

The least traded stock on the stock exchange: APTV

# Analytics on a specific company

We will use the company Apple (APPL) as the basis for our analyzes

In [5]:
#Number of registrations for Apple (AAPL)
data.loc[data['Name'] == 'AAPL'].count()

date      1259
open      1259
high      1259
low       1259
close     1259
volume    1259
Name      1259
dtype: int64

In [36]:
#Creating a dataframe with only Apple data

df = data.loc[data['Name'] == 'AAPL']
df

            date      open      high       low     close     volume  Name
1259  2013-02-08   67.7142   68.4014   66.8928   67.8542  158168416  AAPL
1260  2013-02-11   68.0714   69.2771   67.6071   68.5614  129029425  AAPL
1261  2013-02-12   68.5014   68.9114   66.8205   66.8428  151829363  AAPL
1262  2013-02-13   66.7442   67.6628   66.1742   66.7156  118721995  AAPL
1263  2013-02-14   66.3599   67.3771   66.2885   66.6556   88809154  AAPL
...          ...       ...       ...       ...       ...        ...   ...
2513  2018-02-01  167.1650  168.6200  166.7600  167.7800   47230787  AAPL
2514  2018-02-02  166.0000  166.8000  160.1000  160.5000   86593825  AAPL
2515  2018-02-05  159.1000  163.8800  156.0000  156.4900   72738522  AAPL
2516  2018-02-06  154.8300  163.7200  154.0000  163.0300   68243838  AAPL
2517  2018-02-07  163.0850  163.4000  159.0685  159.5400   51608580  AAPL

[1259 rows x 7 columns]

In [37]:
#On which day did Apple stock rise the most between open and close, absolutely?

# 1) Calculate the absolute increase between open and closeo
df['Aumento'] = (df['close'] - df['open']).abs()

# 2) Find the index of the day when the absolute increase was maximum
id_max = df['Aumento'].idxmax()

# 4) Get the 'sate' column value corresponding to the maximum index
day_max = df.loc[id_max, 'date']

print("The day did Apple stock rise the most between open and close:", day_max)

The day did Apple stock rise the most between open and close: 2015-08-24

C:\Users\panf\AppData\Local\Temp\ipykernel_4300\1136268659.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Aumento'] = (df['close'] - df['open']).abs()

In [38]:
#On average, what is the daily trading volume of AAPL stock?

daily_trading = df['volume'].mean()

print("The daily trading volume of AAPL stock:", daily_trading )

The daily trading volume of AAPL stock: 54047899.73550437